.Github {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  font-size: 16;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.20s;
}

.Github:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
}