.flexbox {
    display: flex;
    flex-direction: row;
    height: 50px;
    
}

.box1 {
    width: 100px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {
    background-color: black;
    color: white;
}

.box2 {
    background-color: lightblue;
    width: 200px;
}