.SB {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 50px;
  border: none;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  width: 450px;
  padding-left: 15px;
  height: 40px;
}