p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 15px;
}

.Email {
  margin-bottom: 4px;
  color: rgb(96, 95, 95);
}

.Email-bar {
  width: 350px;
  height: 22px;
  border-style: solid;
  border-radius: 3px;
}

.info {
  color: rgb(62, 62, 62);
  font-size: 14px;
}

.agree {
  background-color: rgb(10, 102, 194);
  color: white;
  border:none;
  border-radius: 20px;
  margin-left: 15px;

  padding-left: 125px;
  padding-right: 125px;
  padding-top: 12px;
  padding-bottom: 12px;

}