.flexbox {
  display: flex;
  flex-direction: row;
}

.boxa {
  background-color: lightblue;
  width: 50px;
}

.boxb {
  background-color: lightpink;
  flex: 1;
}

.boxc {
  background-color: lightblue;
  width: 75px;
}